include *.py
include *.txt
include *.rst
include *.yml
include LICENSE
include test
recursive-include colourettu *.txt
recursive-include docs *.bat
recursive-include docs *.ico
recursive-include docs *.png
recursive-include docs *.txt
recursive-include docs *.rst
recursive-include docs *.py
recursive-include test *.py
recursive-include test *.txt
prune docs/_build
