include *.in
include *.py
include *.rst
include *.txt
include LICENSE
include test
recursive-include colourettu *.in
recursive-include colourettu *.txt
recursive-include docs *.bat
recursive-include docs *.ico
recursive-include docs *.in
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
prune docs/_build
